<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuddyPlatformSdk" version="1.5.1.1" targetFramework="phone80" />
  <package id="Coding4Fun.Toolkit.Audio" version="2.0.6" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Complete" version="2.0.6" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.6" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Net" version="2.0.6" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Storage" version="2.0.6" targetFramework="wp80" />
  <package id="isolatedstorage-extensions" version="0.1" targetFramework="wp80" />
  <package id="LiveSDK" version="5.4" targetFramework="phone80" />
  <package id="MetroGridHelper" version="1.11" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="phone80" />
  <package id="WPToolkit" version="4.2013.06.11" targetFramework="wp80" />
</packages>